#content #links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content #links a,
#content #links a:visited {
    font-size: 2em;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#content #links a:hover {
    color: var(--primary-blue);  
}
