#content {
    flex-direction: column;
}

#main-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-block {
    display: flex;
    justify-content: space-around;
}

.contact {
    display: block;
    width: 230px;
    height: 150px;
    margin: 20px 10px 100px 10px;
    position: relative;
    border-radius: 10px;
}

.contact .profile-picture {
    height: 100px;
    width: 100px;
}

.contact .overlay,
.contact .information {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.contact .underlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: -2px;
    background: linear-gradient(0deg, rgb(var(--colour)) 0%, rgba(var(--colour), 0.2) 50%, rgba(var(--colour), 0) 100%);
    padding: 2px;
}

.contact .overlay {
    z-index: 20;
    background: linear-gradient(0deg, rgba(var(--colour), 0.5) 0%, rgba(var(--colour), 0.2) 50%, rgba(var(--colour), 0) 100%);
    top: 52px;
    border-radius: 5px;
}

.contact .information {
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .information .profile-picture {
    border-radius: 50%;
}

.contact .information .name{
    margin: 0;
    margin-top: 20px;
    font-size: 1.5em;
}

.contact .information .logo {
    margin-top: 30px;
    width: 40px;
}

.contact a,
.contact a:visited {
    color: white;
    text-decoration: none;
}
