#content {
    flex-direction: column;
    max-width: 1260px;
    margin: auto;
}

#main-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact-block {
    display: flex;
    flex-wrap: wrap;
}

#main-contact .contact {
    display: block;
    width: 230px;
    height: 150px;
    margin: 20px 10px 60px 10px;
    position: relative;
    border-radius: 10px;
}

#main-contact .contact .profile-picture {
    height: 100px;
    width: 100px;
}

#main-contact .contact .overlay,
#main-contact .contact .information {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#main-contact .contact .underlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: -2px;
    background: linear-gradient(0deg, rgb(var(--colour)) 0%, rgba(var(--colour), 0.2) 50%, rgba(var(--colour), 0) 100%);
    padding: 2px;
}

#main-contact .contact .overlay {
    z-index: 20;
    background: linear-gradient(0deg, rgba(var(--colour), 0.5) 0%, rgba(var(--colour), 0.2) 50%, rgba(var(--colour), 0) 100%);
    top: 52px;
    border-radius: 5px;
}

.contact .information {
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-contact .contact .information .profile-picture {
    border-radius: 50%;
}

#main-contact .contact .information .name{
    margin: 0;
    margin-top: 20px;
    font-size: 1.5em;
}

#main-contact .contact .information .logo {
    margin-top: 30px;
    width: 40px;
}

#main-contact .contact a,
#main-contact .contact a:visited {
    color: white;
    text-decoration: none;
}

.secondary-contact {
    margin-top: 30px;
    --colour: 55, 159, 255;
}

.secondary-contact .contact {
    border: 2px solid var(--colour);
    background: linear-gradient(0deg, rgba(var(--colour), 0.5) 0%, rgba(var(--colour), 0.2) 50%, rgba(var(--colour), 0) 100%);
    padding: 10px;
    width: 200px;
    margin: 10px 10px 0 0;
    border-radius: 10px;
}

.secondary-contact .contact .links {
    display: flex;
    align-items: center;
}

.secondary-contact .contact .links img{
    width: 30px;
    margin-right: 5px;
}

.secondary-contact .contact a,
.secondary-contact .contact a:visited {
    text-decoration: none;
}

.secondary-contact .contact .name {
    font-weight: bold;
    margin: 10px 0 0 0;
}

.secondary-contact .contact .subtitle {
    margin: 10px 0;
}

@media screen and (max-width: 770px) {
    #main-contact .contact {
        width: 100%
    }
    
    .secondary-contact .contact {
        width: 100%
    }
}