#content {
    max-width: 1600px;
    margin: auto;
}

.giveaway-block {
    width: 100%;
    margin-bottom: 10px;
}

.giveaway-block p,
.giveaway-block h1 {
    margin: 0;
}

.giveaway-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.giveaway {
    max-width: 300px;
    width: 100%;
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
    background: linear-gradient(180deg, #0d121e 0%, #0e1d4d 100%), linear-gradient(180deg, #08112e 0%, #315DFE 100%);
    border: 2px solid var(--primary-blue);
    border-radius: 14px;
    position: relative;
    overflow: hidden;
}

.giveaway .decoration {
    float: left;
    display: inline;
    width: calc(100% - 40px);
    top: 10px;
    position: absolute;
}

.giveaway .background {
    width: calc(100% - 60px);
    margin: 15px 0 0 10px;
    z-index: 10;
}

.giveaway .border {
    z-index: 20;
}

.giveaway .image {
    z-index: 30;
    position: relative;
    width: 100%;
}

.giveaway .text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: -50px;
    position: relative;
    z-index: 30;
}

.giveaway .name {
    font-size: 1.2rem;
}

.giveaway .description {
    color: var(--primary-blue);
}

.giveaway button {
    align-self: flex-end;
    padding: 5px 20px;
    background: var(--primary-blue);
    border: 0;
    font-family: inherit;
    border-radius: 10px;
    width: 5rem !important;
    text-align: center;
}

.giveaway button {
    color: inherit;
}

.giveaway button:hover {
    background: lightgreen;
    cursor: pointer;
}

.giveaway button[disabled] {
    color: lightgray;
}

.giveaway button[disabled]:hover {
    background: var(--primary-blue);
    color: lightgray;
    cursor: not-allowed;
}

@media screen and (max-width: 770px) {
    .giveaway {
        width: 100%;
        max-width: none;
    }
}
