#content {
    max-width: 1200px;
    margin: auto;
}

.giveaway-block {
    width: 100%;
    border-left: 5px solid var(--primary-blue);
    margin-bottom: 10px;
    padding-left: 10px;
}

.giveaway-block p,
.giveaway-block h1 {
    margin: 0;
}
