{% set navbar_links = [
    ("/", "Affiliates"),
    ("/videos", "Videos"),
    ("/raffles", "Raffles"),
    ("/leaderboard", "Leaderboards"),
    ("/contact", "Contact"),
] %}
{% set navbar_links = [
    ("/", "Affiliates"),
    ("/videos", "Videos"),
    ("/raffles", "Raffles"),
    ("/contact", "Contact"),
] %}


{% macro add_header(twitch_username = none, current_page = "/") -%}
<header>
    <div class="socials">
        <a href="https://www.twitch.tv/livetck" target="_blank" class="social-logo">
            <img class="social-logo-image" src="{{ static('/images/header/logos/twitch.svg') }}" alt="The Twitch logo" />
        </a>
        <a href="https://www.youtube.com/channel/UCJZcsYCqoQ13KtCtApTfLaQ" target="_blank" class="social-logo">
            <img class="social-logo-image" src="{{ static('/images/header/logos/youtube.svg') }}" alt="The YouTube logo" />
        </a>
        <a href="https://twitter.com/TCKTwitch" target="_blank" class="social-logo">
            <img class="social-logo-image" src="{{ static('/images/header/logos/twitter.svg') }}" alt="The Twitter logo" />
        </a>
        <a href="https://discord.gg/QFdGQAs" target="_blank" class="social-logo">
            <img class="social-logo-image" src="{{ static('/images/header/logos/discord.svg') }}" alt="The Discord logo" />
        </a>
    </div>
    <div class="links">
        <a href="/">
            <img class="logo" src="{{ static('/images/logo.png') }}" />
        </a>
        {% for href, text in navbar_links %}
            <a href="{{ href }}"{% if href == current_page %} class="active"{% endif %}>{{ text }}</a>
        {% endfor %}
    </div>
    {% if twitch_username %}
        <a href="/logout" class="login">
            <span>{{ twitch_username }}<br />Logout</span>
            <img src="{{ static('/images/header/logos/twitch.svg') }}" class="social-logo-image" />
        </a>
    {% else %}
        <a href="/login" class="login">
            <span>Sign In</span>
            <img src="{{ static('/images/header/logos/twitch.svg') }}" class="social-logo-image" />
        </a>
    {% endif %}
</header>
{%- endmacro %}
