{%- macro add_head(page_title, page_description, css_files) -%}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page_title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ static("/images/logo_round.png") }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ static('/css/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static('/css/footer.css') }}" />
    {%- if css_files -%}
        {%- for file in css_files -%}
            <link rel="stylesheet" type="text/css" href="{{ static(file) }}" />
        {%- endfor -%}
    {%- endif -%}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PPF6YEH1XJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-PPF6YEH1XJ');
    </script>

    <meta name="og:site_name" content="TCK.gg" />
    <meta name="og:title" content="{{ page_title }}" />
    <meta name="og:image" content='{{ static("/images/logo.png") }}' />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page_title }}" />
    <meta name="twitter:description" content="{{ page_description }}" />
    <meta name="og:description" content="{{ page_description }}" />
</head>
{%- endmacro -%}
