{% set navbar_links = [
    ("/", "Affiliates"),
    ("/videos", "Videos"),
    ("/giveaways", "Giveaways"),
    ("/leaderboard", "Leaderboards"),
    ("/contact", "Contact"),
] %}


{% macro add_header(twitch_username = none, current_page = "/") -%}
<header>
    <div class="socials">
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="{{ static('/images/header/logos/twitch.svg') }}" alt="The Twitch logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="{{ static('/images/header/logos/youtube.svg') }}" alt="The YouTube logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="{{ static('/images/header/logos/twitter.svg') }}" alt="The Twitter logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="{{ static('/images/header/logos/tiktok.svg') }}" alt="The Tiktok logo" />
        </a>
    </div>
    <div class="links">
        <img class="logo" src="{{ static('/images/logo.png') }}" />
        {% for href, text in navbar_links %}
            <a href="{{ href }}"{% if href == current_page %} class="active"{% endif %}>{{ text }}</a>
        {% endfor %}
    </div>
    <a href="/login" class="login">
        {% if twitch_username %}
            <span>{{ twitch_username }}<br />Logout</span>
        {% else %}
            <span>Sign In</span>
        {% endif %}
        <img src="{{ static('/images/header/logos/steam.svg') }}" class="social-logo-image" />
    </a>
</header>
{%- endmacro %}
