{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Admin" %}
{% set css_files = ["/css/admin.css"] %}
{% set current_page_url = "/admin" %}
{% set page_description = "" %}


{%- block content -%}
<div id="links">
    <a href="/admin/leaderboard">Leaderboard</a>
    <a href="/admin/raffles">Raffles</a>
</div>
{%- endblock content -%}
