{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Leaderboard Admin" %}
{% set css_files = ["/css/leaderboard-admin.css"] %}
{% set current_page_url = "/admin/leaderboard" %}
{% set page_description = "" %}


{%- block content -%}
    {% for i in leaderboard_items %}
        {% if i is none %}
            {% set i = {"index": loop.index0 + 1, "name": "", "amount": 0} %}
        {% endif %}
        <div class="leaderboard-item">
            <input type="hidden" name="index" value="{{ i.index }}" />
            <p>{{ i.index }}</p>
            <input
                    type="text"
                    name="name"
                    value="{{ i.name }}"
                    placeholder="User's name" />
            <input
                    type="text"
                    name="amount"
                    step="0.01"
                    value="{{ i.amount / 100 }}"
                    placeholder="Amount of money (USD)" />
        </div>
    {% endfor %}
{%- endblock content -%}
