{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Leaderboard Admin" %}
{% set css_files = ["/css/leaderboard-admin.css"] %}
{% set current_page_url = "/admin/leaderboard" %}


{%- block content -%}
{%- endblock content -%}
