{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Raffle Admin" %}
{% set css_files = ["/css/raffle-admin.css"] %}
{% set current_page_url = "/admin/raffles" %}


{%- block content -%}
{%- endblock content -%}
