{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Contact" %}
{% set css_files = ["/css/contact.css"] %}
{% set current_page_url = "/contact" %}


{% macro create_main_contact() %}
{% endmacro %}


{% macro create_secondary_contact() %}
{% endmacro %}


{%- block content -%}
<div id="main-contact">
</div>

<div id="secondary-contact">
</div>
{%- endblock content -%}
