<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TCK Index</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="static/css/affiliates.css" />
    <link rel="stylesheet" type="text/css" href="static/css/footer.css" />
</head>
<body>

<!-- Site header -->
<header>
    <div class="socials">
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="static/images/header/logos/twitch.svg" alt="The Twitch logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="static/images/header/logos/youtube.svg" alt="The YouTube logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="static/images/header/logos/twitter.svg" alt="The Twitter logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="static/images/header/logos/tiktok.svg" alt="The Tiktok logo" />
        </a>
    </div>
    <div class="links">
        <img class="logo" src="static/images/logo.png" />
        <a href="index.html" class="active">Affiliates</a>
        <a href="#">Videos</a>
        <a href="#">Giveaways</a>
        <a href="leaderboard.html">Leaderboards</a>
        <a href="#">Contact</a>
    </div>
    <div class="login">
        <span>Sign In</span>
        <img src="static/images/header/logos/steam.svg" class="social-logo-image" />
    </div>
</header>
<!-- End site header -->


<!-- Site body content -->
<div id="content">
    <div class="affiliate">
        <img class="logo" src="static/images/affiliates/stake.png" />
        <div class="affiliate-block">
            <p class="perks">10% rakeback and VIP rewards</p>
            <p class="subtext">No requirements</p>
            <div class="claim-button">
                <p class="code">TCK</p>
                <p class="button">Claim</p>
            </div>
            <p class="link">stake.com/r/tck</p>
            <ul class="tags">
                <li>Slots</li>
                <li>Live Games</li>
                <li>Crypto</li>
            </ul>
        </div>
    </div>
    <div class="affiliate">
        <img class="logo" src="static/images/affiliates/csgo_rail.png" />
        <div class="affiliate-block">
            <p class="perks">10% rakeback and VIP rewards</p>
            <p class="subtext">No requirements</p>
            <div class="claim-button">
                <p class="code">TCK</p>
                <p class="button">Claim</p>
            </div>
            <p class="link">stake.com/r/tck</p>
            <ul class="tags">
                <li>Roulette</li>
                <li>Case Opening</li>
                <li>Crypto</li>
                <li>Coinflip</li>
            </ul>
        </div>
    </div>
    <div class="affiliate">
        <img class="logo" src="static/images/affiliates/csgo_empire.png" />
        <div class="affiliate-block">
            <p class="perks">10% rakeback and VIP rewards</p>
            <p class="subtext">No requirements</p>
            <div class="claim-button">
                <p class="code">TCK</p>
                <p class="button">Claim</p>
            </div>
            <p class="link">stake.com/r/tck</p>
            <ul class="tags">
                <li>Roulette</li>
                <li>Coinflip</li>
                <li>Crypto</li>
                <li>Sports Betting</li>
            </ul>
        </div>
    </div>



    <div class="affiliate">
        <img class="logo" src="static/images/affiliates/stake.png" />
        <div class="affiliate-block">
            <p class="perks">10% rakeback and VIP rewards</p>
            <p class="subtext">No requirements</p>
            <div class="claim-button">
                <p class="code">TCK</p>
                <p class="button">Claim</p>
            </div>
            <p class="link">stake.com/r/tck</p>
            <ul class="tags">
                <li>Slots</li>
                <li>Live Games</li>
                <li>Crypto</li>
            </ul>
        </div>
    </div>
    <div class="affiliate">
        <img class="logo" src="static/images/affiliates/stake.png" />
        <div class="affiliate-block">
            <p class="perks">10% rakeback and VIP rewards</p>
            <p class="subtext">No requirements</p>
            <div class="claim-button">
                <p class="code">TCK</p>
                <p class="button">Claim</p>
            </div>
            <p class="link">stake.com/r/tck</p>
            <ul class="tags">
                <li>Slots</li>
                <li>Live Games</li>
                <li>Crypto</li>
            </ul>
        </div>
    </div>
    <div class="affiliate">
        <img class="logo" src="static/images/affiliates/stake.png" />
        <div class="affiliate-block">
            <p class="perks">10% rakeback and VIP rewards</p>
            <p class="subtext">No requirements</p>
            <div class="claim-button">
                <p class="code">TCK</p>
                <p class="button">Claim</p>
            </div>
            <p class="link">stake.com/r/tck</p>
            <ul class="tags">
                <li>Slots</li>
                <li>Live Games</li>
                <li>Crypto</li>
            </ul>
        </div>
    </div>
    <div class="affiliate">
        <img class="logo" src="static/images/affiliates/stake.png" />
        <div class="affiliate-block">
            <p class="perks">10% rakeback and VIP rewards</p>
            <p class="subtext">No requirements</p>
            <div class="claim-button">
                <p class="code">TCK</p>
                <p class="button">Claim</p>
            </div>
            <p class="link">stake.com/r/tck</p>
            <ul class="tags">
                <li>Slots</li>
                <li>Live Games</li>
                <li>Crypto</li>
            </ul>
        </div>
    </div>
</div>
<!-- End site body content -->


<!-- Footer content -->
<footer>
    <div class="footer-block disclaimer">
        <h3>Disclaimer</h3>
        <p>We do not take responsibility for any losses from gambling in casinos and betting sites which are linked or promoted on our website(s). As a player, you are responsible for your bets.</p>
    </div>
    <div class="footer-block gambleaware">
        <p>If you feel like you are in need of help, please visit <a href="#">BeGambleAware.org</a></p>
    </div>
    <div class="footer-block copyright">
        <p>&copy; 2022 - present TCK.gg</p>
    </div>
</footer>
<!-- End footer content -->

</body>
</html>
