{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Affiliates" %}
{% set css_files = ["/css/affiliates.css"] %}
{% set current_page_url = "/" %}


{%- macro create_affiliate(image_url, perks, subtext, code, link, url, tags) -%}
<div class="affiliate" data-tags="{{ ','.join(tags) }}">
    <img class="logo" src="{{ static(image_url) }}" />
    <div class="affiliate-block">
        <p class="perks">{{ perks }}</p>
        <p class="subtext">{{ subtext }}</p>
        <a href="{{ url }}">
            <div class="claim-button">
                <p class="code">{{ code }}</p>
                <p class="button">Claim</p>
            </div>
        </a>
        <p class="link">{{ link }}</p>
        <ul class="tags">
            {% for t in tags %}
                <li>{{ t }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{%- endmacro -%}


{%- block content -%}
<div id="prelude">
    <img src="{{ static('/images/squares.png') }}" class="background" />
    <div class="inner">
        <div class="text">
            <h1>Choose a <span style="color: #315DFE">code</span>,<br />get a free bonus!</h1>
            <p>Get rewarded just by simply using our promotional codes.</p>
        </div>
        <img src="{{ static('/images/click_claim.png') }}" />
    </div>
</div>
<div id="filters">
    <input type="checkbox" data-filter="Crypto" onchange="updateVisibleAffiliates()" checked /><p>Crypto</p>
    <input type="checkbox" data-filter="CS:GO" onchange="updateVisibleAffiliates()" checked /><p>CS:GO</p>
    <input type="checkbox" data-filter="Slots" onchange="updateVisibleAffiliates()" checked /><p>Slots</p>
    <input type="checkbox" data-filter="Case Opening" onchange="updateVisibleAffiliates()" checked /><p>Case Opening</p>
</div>
{{
    create_affiliate(
        "/images/affiliates/stake.png",
        "10% rakeback and VIP rewards",
        "No requirements",
        "TCK",
        "stake.com/r/tck",
        "https://stake.com/?c=TCK",
        [
            "Slots",
            "Live Games",
            "Crypto",
        ],
    )
}}
{{
    create_affiliate(
        "/images/affiliates/csgo_rail.png",
        "10% rakeback and VIP rewards",
        "No requirements",
        "TCK",
        "csgoroll.com/r/tck",
        "https://csgoroll.com/r/TCK",
        [
            "Roulette",
            "Case Opening",
            "Crypto",
            "Coinflip",
        ],
    )
}}
{{
    create_affiliate(
        "/images/affiliates/rollbit.png",
        "10% rakeback and VIP rewards",
        "No requirements",
        "TCK",
        "rollbit.com/referral/tck",
        "https://rollbit.com/referral/TCK",
        [
            "Slots",
            "Trading",
            "Crypto",
            "Case Opening",
        ],
    )
}}
{{
    create_affiliate(
        "/images/affiliates/gamdom.png",
        "15% rakeback for 7 days",
        "No requirements",
        "TCK",
        "TCK",
        "https://gamdom.com/landing?tag1=TCK",
        [
            "Roulette",
            "Blackjack",
            "Crypto",
            "Trade Ups",
        ],
    )
}}
{{
    create_affiliate(
        "/images/affiliates/csgo500.png",
        "10% rakeback and VIP rewards",
        "No requirements",
        "TCK",
        "csgo500.com/r/tck",
        "https://csgo500.com/r/TCK",
        [
            "Crash",
            "CS:GO",
            "Roulette",
            "Crypto",
        ],
    )
}}
{{
    create_affiliate(
        "/images/affiliates/datdrop.png",
        "Extra 5% deposit bonus",
        "No requirements",
        "TCK",
        "datdrop.com/p/tck",
        "https://datdrop.com/p/tck",
        [
            "Trade Ups",
            "Case Opening",
            "Crypto",
        ],
    )
}}
{{
    create_affiliate(
        "/images/affiliates/hypedrop.png",
        "10% rakeback and VIP rewards",
        "No requirements",
        "TCK",
        "hypedrop.com/r/tck",
        "https://hypedrop.com/r/tck",
        [
            "Case Opening",
            "Crypto",
        ],
    )
}}
<script type="text/javascript" src="{{ static('/js/index.js') }}"></script>
{%- endblock content -%}
