<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TCK Leaderboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="static/css/leaderboard.css" />
    <link rel="stylesheet" type="text/css" href="static/css/footer.css" />
</head>
<body>

<!-- Site header -->
<header>
    <div class="socials">
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="static/images/header/logos/twitch.svg" alt="The Twitch logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="static/images/header/logos/youtube.svg" alt="The YouTube logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="static/images/header/logos/twitter.svg" alt="The Twitter logo" />
        </a>
        <a href="#" class="social-logo">
            <img class="social-logo-image" src="static/images/header/logos/tiktok.svg" alt="The Tiktok logo" />
        </a>
    </div>
    <div class="links">
        <img class="logo" src="static/images/logo.png" />
        <a href="index.html">Affiliates</a>
        <a href="#">Videos</a>
        <a href="#">Giveaways</a>
        <a href="leaderboard.html" class="active">Leaderboards</a>
        <a href="#">Contact</a>
    </div>
    <div class="login">
        <span>Sign In</span>
        <img src="static/images/header/logos/steam.svg" class="social-logo-image" />
    </div>
</header>
<!-- End site header -->


<!-- Site body content -->
<div id="content">
    <div class="leaders">
        <div class="leader first">
            <img src="https://picsum.photos/200" class="leader-icon" />
            <div class="leader-info">
                <p class="name">Name</p>
                <p class="points">696969</p>
                <p class="place">1st Place</p>
            </div>
        </div>
        <div class="leader second">
            <img src="https://picsum.photos/200" class="leader-icon" />
            <div class="leader-info">
                <p class="name">Name</p>
                <p class="points">696969</p>
                <p class="place">2nd Place</p>
            </div>
        </div>
        <div class="leader third">
            <img src="https://picsum.photos/200" class="leader-icon" />
            <div class="leader-info">
                <p class="name">Name</p>
                <p class="points">696969</p>
                <p class="place">3rd Place</p>
            </div>
        </div>
    </div>
    <ul class="ranks">
        <li class="rank">
            <div class="user-info">
                <p class="place">4</p>
                <p class="name">Name</p>
            </div>
            <div>
                <p class="points">696969</p>
            </div>
        </li>
        <li class="rank">
            <div class="user-info">
                <p class="place">5</p>
                <p class="name">Name</p>
            </div>
            <div>
                <p class="points">696969</p>
            </div>
        </li>
        <li class="rank">
            <div class="user-info">
                <p class="place">6</p>
                <p class="name">Name</p>
            </div>
            <div>
                <p class="points">696969</p>
            </div>
        </li>
        <li class="rank">
            <div class="user-info">
                <p class="place">7</p>
                <p class="name">Name</p>
            </div>
            <div>
                <p class="points">696969</p>
            </div>
        </li>
        <li class="rank">
            <div class="user-info">
                <p class="place">8</p>
                <p class="name">Name</p>
            </div>
            <div>
                <p class="points">696969</p>
            </div>
        </li>
        <li class="rank">
            <div class="user-info">
                <p class="place">9</p>
                <p class="name">Name</p>
            </div>
            <div>
                <p class="points">696969</p>
            </div>
        </li>
        <li class="rank">
            <div class="user-info">
                <p class="place">10</p>
                <p class="name">Name</p>
            </div>
            <div>
                <p class="points">696969</p>
            </div>
        </li>
    </ul>
</div>
<!-- End site body content -->

<!-- Footer content -->
<footer>
    <div class="footer-block disclaimer">
        <h3>Disclaimer</h3>
        <p>We do not take responsibility for any losses from gambling in casinos and betting sites which are linked or promoted on our website(s). As a player, you are responsible for your bets.</p>
    </div>
    <div class="footer-block gambleaware">
        <p>If you feel like you are in need of help, please visit <a href="#">BeGambleAware.org</a></p>
    </div>
    <div class="footer-block copyright">
        <p>&copy; 2022 - present TCK.gg</p>
    </div>
</footer>
<!-- End footer content -->

</body>
</html>
