{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Leaderboard" %}
{% set css_files = ["/css/leaderboard.css"] %}
{% set current_page_url = "/leaderboard" %}
{% set page_description = "Exclusive rewards and giveaways." %}


{%- macro create_rank(name, place, points) -%}
    <li class="rank">
        <div class="user-info">
            <p class="place">{{ place }}</p>
            <p class="name">{{ name }}</p>
        </div>
        <div>
            <p class="points">{{ '$%.2f'|format(points / 100) }}</p>
        </div>
    </li>
{%- endmacro -%}


{%- block content -%}
<div class="leaders">
{% for i in leaderboard_items[:3] %}
    {% if i is none %}
        {% set i = {"index": loop.index0 + 1, "name": "", "amount": 0} %}
    {% endif %}

    {% if i.index == 1 %}
        {% set class = "first" %}
        {% set place = "1st" %}
    {% elif i.index == 2 %}
        {% set class = "second" %}
        {% set place = "2nd" %}
    {% else %}
        {% set class = "third" %}
        {% set place = "3rd" %}
    {% endif %}

    <div class="leader {{ class }}">
        <div class="leader-info">
            <p class="name">{{ i.name }}</p>
            <p class="points">{{ '$%.2f'|format(i.amount / 100) }}</p>
            <p class="place">{{ place }}</p>
        </div>
    </div>
{% endfor %}
</div>

<ul class="ranks">
    {% for i in leaderboard_items[3:] %}
        {% if i is none %}
            {% set i = {"index": loop.index0 + 4, "name": "", "amount": 0} %}
        {% endif %}
        {{ create_rank(i.name, i.index, i.amount) }}
    {% endfor %}
</ul>
{%- endblock content -%}
