{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Raffles" %}
{% set css_files = ["/css/raffles.css"] %}
{% set current_page_url = "/raffles" %}


{%- block content -%}
<div id="giveaways">
    <div class="title">
        <h1>Giveaways</h1>
        <p>Join giveaways and win amazing prizes!</p>
    </div>
</div>

<div id="raffles">
    <div class="title">
        <h1>Raffles</h1>
        <p>Join giveaways and win amazing prizes!</p>
    </div>
</div>
{%- endblock content -%}
