{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Raffles" %}
{% set css_files = ["/css/raffles.css"] %}
{% set current_page_url = "/raffles" %}
{% set page_description = "Exclusive rewards and giveaways." %}


{% macro create_giveaway(giveaway) %}
<div class="giveaway" data-id="{{ giveaway.id }}">
    <img src="{{ static('/images/raffle_item_background.png') }}" class="background decoration" />
    <img src="{{ static('/images/raffle_item_border.png') }}" class="border decoration" />
    <img src="{{ giveaway.image }}" class="image" />
    <div class="text">
        <div class="metadata">
            <p class="name">{{ giveaway.name }}</p>
            <p class="description">
                {{ giveaway.description }}
                <br />
                {% if giveaway.entry_price == 0 %}
                    Free Entry
                {% else %}
                    Entry: {{ giveaway.entry_price }} points
                {% endif %}
            </p>
        </div>
        <button
                onload="get_entries('{{ giveaway.id }}')"
                onclick="enter('{{ giveaway.id }}')"
                >
            Join
        </button>
    </div>
</div>
{% endmacro %}


{%- block content -%}
<div id="giveaways" class="giveaway-block">
    <div class="title">
        <h1>Giveaways</h1>
        <p>Join giveaways and win amazing prizes!</p>
    </div>
    <div class="giveaway-holder">
        {% for g in giveaways %}
            {{ create_giveaway(g) }}
        {% endfor %}
    </div>
</div>

<div id="raffles" class="giveaway-block">
    <div class="title">
        <h1>Raffles</h1>
        <p>Join giveaways and win amazing prizes!</p>
    </div>
    <div class="giveaway-holder">
        {% for g in raffles %}
            {{ create_giveaway(g) }}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    function load(node) {
        node.classList.add("loading");
        node.disabled = true;
    }

    function unload(node) {
        node.classList.remove("loading");
        node.disabled = false;
    }

    async function enter(giveawayId) {
        // Set it to loading
        n = document.querySelector(`.giveaway[data-id=${giveawayId}] button`);
        load(n);

        // Perform an API request to add them to the raffle
        site = await fetch(
            "/api/join_raffle",
            {
                method: "POST",
                body: JSON.stringify({
                    id: giveawayId,
                }),
            },
        );

        // Get the response
        data = await site.json();
        console.log(data);

        // Set to unloading
        get_entries(giveawayId).then(() => {
            unload(n);
        })
    }

    async function get_entries(giveawayId) {
        // Set it to loading
        n = document.querySelector(`.giveaway[data-id=${giveawayId}] button`);

        // Perform an API request to add them to the raffle
        site = await fetch(
            "/api/raffle_entries",
            {
                method: "GET",
                body: JSON.stringify({
                    id: giveawayId,
                }),
            },
        );

        // Get the response
        data = await site.json();
        console.log(data);
        if(data && data.count && data.count > 0) {
            n.textContent = `${data.count} entries`;
        }
    }
</script>
{%- endblock content -%}
