{% extends "base/body.htm.j2" %}


{% set page_title = "TCK - Videos" %}
{% set css_files = ["/css/videos.css"] %}
{% set current_page_url = "/videos" %}


{% macro create_video(title, thumbnail_url, upload_timestamp, views) %}
<div class="video">
    <img src="{{ thumbnail_url }}" />
    <div class="overlay">
        <p class="title">{{ title }}</p>
        <div class="metadata">
            <p data-timestamp="{{ upload_timestamp }}">{{ upload_timestamp }}</p>  <!-- dayjs(1536484369695).fromNow(); -->
            <!-- <p>{{ views }} Views</p> -->
            <p></p>
        </div>
    </div>
</div>
{% endmacro %}


{% macro create_channel() %}
{% endmacro %}


{%- block content -%}
<div id="twitch">
    <span class="twitch-cta">Watch on Twitch.tv</span>
    <iframe
            src="https://player.twitch.tv/?channel=livetck&parent={{ request.app['config']['website_base_url'].split('/')[-1] }}"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            height="378"
            width="620"
        >
    </iframe>
</div>
<div id="videos">
    {% for v in videos %}
        {{
            create_video(
                v.title,
                v.thumbnail,
                v.published_at,
                69_000,
            )
        }}
    {% endfor %}
</div>
{%- endblock content -%}
